<a href="https://colab.research.google.com/github/sravanisavili/201AEM011/blob/master/201AEM011.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving data_011.csv to data_011.csv

In [3]:
pd.read_csv('data_011.csv', delimiter=',')

       id      car_model  car_year  ...      price         country       color
0       1          Titan      2006  ...  €17602,85           China       Khaki
1       2         Sentra      2001  ...  €20898,32          Brazil      Yellow
2       3        Tracker      1992  ...  €42217,26   Liechtenstein     Crimson
3       4        Eclipse      1992  ...  €30476,65            Peru      Yellow
4       5  Daewoo Magnus      2006  ...  €17077,81  Czech Republic   Turquoise
..    ...            ...       ...  ...        ...             ...         ...
995   996         Sonata      2012  ...  €38939,62          Russia     Crimson
996   997     Freelander      2001  ...  €48015,29        Colombia  Aquamarine
997   998            C70      2007  ...  €35152,01          Canada        Pink
998   999        Sorento      2011  ...  €20151,81           China        Puce
999  1000         Carens      2008  ...  €45363,09           China      Fuscia

[1000 rows x 7 columns]

In [4]:
article_read =pd.read_csv('data_011.csv', delimiter=',')

In [5]:
article_read

       id      car_model  car_year  ...      price         country       color
0       1          Titan      2006  ...  €17602,85           China       Khaki
1       2         Sentra      2001  ...  €20898,32          Brazil      Yellow
2       3        Tracker      1992  ...  €42217,26   Liechtenstein     Crimson
3       4        Eclipse      1992  ...  €30476,65            Peru      Yellow
4       5  Daewoo Magnus      2006  ...  €17077,81  Czech Republic   Turquoise
..    ...            ...       ...  ...        ...             ...         ...
995   996         Sonata      2012  ...  €38939,62          Russia     Crimson
996   997     Freelander      2001  ...  €48015,29        Colombia  Aquamarine
997   998            C70      2007  ...  €35152,01          Canada        Pink
998   999        Sorento      2011  ...  €20151,81           China        Puce
999  1000         Carens      2008  ...  €45363,09           China      Fuscia

[1000 rows x 7 columns]

In [6]:
article_read.head()

   id      car_model  car_year  ...      price         country      color
0   1          Titan      2006  ...  €17602,85           China      Khaki
1   2         Sentra      2001  ...  €20898,32          Brazil     Yellow
2   3        Tracker      1992  ...  €42217,26   Liechtenstein    Crimson
3   4        Eclipse      1992  ...  €30476,65            Peru     Yellow
4   5  Daewoo Magnus      2006  ...  €17077,81  Czech Republic  Turquoise

[5 rows x 7 columns]

In [7]:
article_read[['car_model','price']]

         car_model      price
0            Titan  €17602,85
1           Sentra  €20898,32
2          Tracker  €42217,26
3          Eclipse  €30476,65
4    Daewoo Magnus  €17077,81
..             ...        ...
995         Sonata  €38939,62
996     Freelander  €48015,29
997            C70  €35152,01
998        Sorento  €20151,81
999         Carens  €45363,09

[1000 rows x 2 columns]

In [10]:
article_read [(article_read.car_model =='Eclipse') & (article_read.car_year == 1992) & (article_read.price == '€30476,65') & (article_read.country == 'Peru')]

   id car_model  car_year            car_vin      price country   color
3   4   Eclipse      1992  WDCGG5GB7BF279357  €30476,65    Peru  Yellow

In [11]:
article_read.head()

   id      car_model  car_year  ...      price         country      color
0   1          Titan      2006  ...  €17602,85           China      Khaki
1   2         Sentra      2001  ...  €20898,32          Brazil     Yellow
2   3        Tracker      1992  ...  €42217,26   Liechtenstein    Crimson
3   4        Eclipse      1992  ...  €30476,65            Peru     Yellow
4   5  Daewoo Magnus      2006  ...  €17077,81  Czech Republic  Turquoise

[5 rows x 7 columns]

In [12]:
article_read['price'] = article_read['price'].replace(['€',','], ['','.'], regex=True)

In [13]:
article_read.head()

   id      car_model  car_year  ...     price         country      color
0   1          Titan      2006  ...  17602.85           China      Khaki
1   2         Sentra      2001  ...  20898.32          Brazil     Yellow
2   3        Tracker      1992  ...  42217.26   Liechtenstein    Crimson
3   4        Eclipse      1992  ...  30476.65            Peru     Yellow
4   5  Daewoo Magnus      2006  ...  17077.81  Czech Republic  Turquoise

[5 rows x 7 columns]

In [14]:
article_read['price'] = pd.to_numeric(article_read['price'],errors='coerce')

In [15]:
sum = article_read.price.sum(axis=0)

In [16]:
sum

32613026.259999998

In [17]:
min = article_read.price.min(axis=0)

In [18]:
min

15011.31

In [19]:
max = article_read.price.max(axis=0)

In [20]:
max

49961.9

In [21]:
median = article_read.price.median(axis=0)

In [22]:
median

32647.985

In [25]:
article_read.price.head(10)

0    17602.85
1    20898.32
2    42217.26
3    30476.65
4    17077.81
5    41977.77
6    29785.19
7    15235.00
8    34796.33
9    32272.78
Name: price, dtype: float64

In [28]:
column_top10 = article_read.price.head(10)

In [30]:
column_top10.sum()

282339.95999999996

In [31]:
column_top10.min()

15235.0

In [32]:
column_top10.max()

42217.26

In [33]:
column_top10.median()

30130.92

In [34]:
article_read.price.tail(10)

990    42016.89
991    24888.72
992    35370.35
993    25849.76
994    46227.32
995    38939.62
996    48015.29
997    35152.01
998    20151.81
999    45363.09
Name: price, dtype: float64

In [35]:
column_end10 = article_read.price.tail(10)

In [36]:
column_end10.sum()

361974.86

In [37]:
column_end10.min()

20151.81

In [38]:
column_end10.max()

48015.29

In [39]:
column_end10.median()

37154.985